{
    "extends": "airbnb",
    "env": {
      "browser": true
    },
    "globals": {
      "cordova": true
    },
    "rules": {
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "no-console": "off"
      }
}